.product {
  margin: 12px 0;
}

.product > :global(.ant-card-body) {
  display: flex;
  align-items: center;
}

.product__image {
  height: 220px;
  width: 165px;
  background: no-repeat center / contain;
  flex-shrink: 0;
  margin-right: 12px;
}

.product__total-rates {
  margin-left: 12px;
}

.product__description {
  margin-top: 12px;
}

.sell-options {
  display: flex;
}

.sell-options__item {
  margin-right: 20px;
  text-align: center;
}

.sell-options__item:last-child {
  margin-right: 0;
}
